<!DOCTYPE html>
<html lang="en">

{{> header }}
<body>
{{> navbar }}

<div class="row">
    <div class="col-5">
        <h1> Texto Bonito </h1>
        <p>
            Así te quedará la maqueta, o mejor incluso :D !
        </p>
    </div>
    <div class="col-7">
        <img src="assets/img/f14-model.jpg" class="img-thumbnail">   
    </div>
</div>

{{> footer }}

</body>

</html>